.control {
    display: flex;
    justify-content: center;
}

.feedback-container {
    margin-top: -10rem;
    width: 40rem;

    text-align: center;
    
}
#control{
    width: 100%;
    overflow: hidden;
}

.feedback-title {
    position: absolute;
    top: -2.0rem;
    left: 6rem;
    color: #444;
    font-size: 24px;
    margin-bottom: 10px;
}

.feedback-subtitle {
    color: #66666600;
    font-size: 16px;
    margin-bottom: 20px;
}

.feedback-form-container {
    background: #c2c2c2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-input,
.feedback-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff7f74d;
    border: 1px solid #cccccc4d;
    border-radius: 1.2rem;
    font-size: 14px;
}

.feedback-textarea {
    height: 100px;
    resize: none;
}

.feedback-button {
    background-color: #666;
    color: #fff;
    border: none;
    height: 2rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.feedback-button:hover {
    background-color: #555;
}

.img1-1 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 28rem;

    justify-items: center;
    overflow: hidden;

}

.Ellipse_1 {

    position: absolute;
    width: 119px;
    height: 116px;
    top: -3rem;
    border-radius: 100%;
    right: -2.9rem;
    z-index: -1;

    background: #ECECEC;

}


.Ellipse_4 {

    position: absolute;
    width: 58px;
    height: 50px;
    margin-top: 18.3rem;
    border-radius: 100%;
    left: -1.2rem;
    z-index: -1;


    background: linear-gradient(180deg, #E8E8E8 -29.9%, #C6C6C6 70.1%);

}


.Ellipse_5 {

    position: absolute;
    width: 29px;
    height: 27px;
    z-index: -1;
    margin-top: 20.5rem;
    border-radius: 100%;
    left: -1.9rem;


    background: linear-gradient(0deg, #C7C7C7, #C7C7C7);

}


.depositphotos {
    width: 20rem;
    height: auto;
    position: absolute;
    margin-top: 3rem;
    width: 511px;
    height: 326px;
    display: flex;



    background-image: url("/public/depositphotos_9082584-stock-photo-feedback-process\ 1.png");
    background-position: center;
    background-size: cover;
    border-radius: 35px;

}