* {

  box-sizing: border-box;
  font-family: serif;
  text-decoration: none;

}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;

}




.Rectangle_4 {

  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  left: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;

}

#icon {
  text-decoration: none;
  color: rgb(156, 154, 154);
  transition: color 0.3s ease;
}

#icon:hover {
  color: rgb(68, 68, 68);

}

.Rectangle_44 {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Carlito';
  font-style: normal;
  font-weight: 1000;
  font-size: 75%;

  width: auto;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
  align-items: center;

}

.persol-image {
  left: 0.5rem;
  position: absolute;
  width: 4.2rem;
  height: 2.8rem;
  background-size: cover;
  background-attachment: content;
  background-image: url('/public/Picsart_25-02-15_21-32-18-033.png');
}

.Line-23 {
  width: 100%;
  height: 0px;
  border: 0.1rem solid #ABABAA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;

}

.Rectangle-login {

  box-sizing: border-box;
  position: absolute;
  width: 3.5rem;
  top: 1.4rem;
  justify-content: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 1.5rem;
  right: 0.5rem;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  align-items: center;

  background: #000000;
  border: 3px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.Rectangle-login:hover {
  color: #000000;
  background: rgba(164, 19, 19, 0);
  border: 0px;
}

.Rectangle-43 {
  /*box persol*/
  z-index: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 4.6rem;
  height: 2.8rem;
  left: 0.3rem;
  background: rgba(16, 15, 15, 0.5);
  border-radius: 10px;
}


.Line2 {

  justify-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  height: 0px;
  top: 3.9rem;
  border: 3px solid #9E9E9E;
  border-radius: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}