.contact-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.contact-info {
  background: #d1d0d0;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: bold;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #cccccc4d;
  border: 1px solid #cccccc4d;
  border-radius: 1.2rem;
  font-size: 14px;
}

.contact-form button {
  margin-top: 1rem;
  background-color: #666;
  color: #fff;
  border: none;
  height: 2rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.contact-form button:hover {
  background-color: #555;
}