.product-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    padding-top: 4rem;
    z-index: -1;
}

/* كلاسات للمستطيلات المختلفة */

.rectangle-149 {
    position: relative;
    width: 40rem;
    border-radius: 4rem 0 4rem 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 4rem;
    left: 0px;
    z-index: -1;
    background: rgba(109, 107, 107, 0.4);
    box-shadow: 0 0.5rem 0.5rem rgb(112, 112, 112);
}

.rectangle-134 {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 7rem;
    margin-top: 4rem;
    z-index: 1;
    background: rgba(0, 0, 0, 0.412);
}

.rectangle-132 {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;




    background: rgba(0, 0, 0, 0.4);
}

.rectangle-127 {
    position: absolute;
    width: 142px;
    z-index: 1;
    height: 142px;
    left: 0px;
    top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 0px 30px 30px 0px;
}

.rectangle-130 {
    position: absolute;

    width: 142px;
    height: 142px;
    bottom: 3.6rem;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000000;
    border-radius: 0px 30px 30px 0px;
}

.rectangle-131 {
    position: absolute;
    width: 142px;
    height: 142px;
    right: 0px;
    display: flex;

    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    background: #000000;
    border-radius: 30px 0px 0px 30px;
}

.rectangle-135 {
    width: 100%;
    height: 110px;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgba(0, 0, 0, 0.4);
}

/* أنماط للصور */
.image {
    position: absolute;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-1 {
    position: absolute;
    width: 118px;
    height: 64px;

    background-image: url("/public/0b72cb32acc078fffd68723b3fe20c86.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}

.image-2 {
    position: absolute;
    width: 118px;
    height: 64px;

    background-image: url("/public/1eae6ac8e61b8506cccdae4c6eada0d8.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 0px 10px 10px 0px;
}

.image-3 {
    position: absolute;
    width: 117px;
    height: 61px;

    background-image: url("/public/5e88e483f13d1dee1a0bf4b4ed0644a2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 0px 10px 10px 0px;
}

/* أنماط للنصوص */
.text {
    width: 70%;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 80%;
    line-height: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}

.text-bay-ban {
    position: absolute;

    text-align: center;
    left: 30%;
    margin-top: 2rem;


}

.text-dior {
    position: absolute;

    text-align: center;
    right: 30%;
    margin-top: 2rem;


}

.text-oakley {
    position: absolute;

    text-align: center;
    left: 30%;
    margin-bottom: 2rem;


}

/* أنماط لأزرار "Shop now" */
.shop-now {
    position: absolute;
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 10px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.1em;
}

.shop-now-button {
    position: absolute;
    align-items: center;
    display: flex;
    left: 40%;
    margin-top: 5rem;
    justify-content: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;


}

.shop-now-1 {
    z-index: 1;
    width: 6rem;
    height: 1.5rem;

}

.shop-now-2 {
    width: 6rem;
    height: 1.5rem;

}

.shop-now-3 {
    width: 6rem;
    height: 1.5rem;

}