body{
  margin-top: 1rem;
}

.home_img2 {
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  top: 0rem;

  background-image: url("/public/26b5929RANCH-C3_1.jpg");
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-attachment: cover;
}

.Rectangle-3 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.759);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.exam {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10%;
  margin: 4rem;

}

.HOMEtext {
  top: 0px;
  width: 100%;
  font-weight: 700;
  font-size: 4rem;
  color: #FFFFFF;

}

.HOMEtext2 {

  width: 100%;
  top: 0px;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
}

.Rectangle-30:hover {

  color: rgb(0, 0, 0);
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.70);
}

.Rectangle-30 {

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 7rem;
  height: 2.3rem;
  margin: 0.8rem;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  transition: background-color 0.3s ease;
}

.Rectangle-31:hover {

  color: rgb(255, 255, 255);
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.70);
}

.Rectangle-31 {

  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2.3rem;
  margin: 0.8rem;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: background-color 0.3s ease;
}



#read {
  color: rgb(255, 255, 255);
}

.Line2-2 {

  justify-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0px;
  border: 0.2rem solid #9E9E9E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



.Rectangle_122 {

  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 30rem;
  bottom: 0rem;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /**/
  background: rgba(0, 0, 0, 0.5);
  border: 0.4rem solid #1C1C1C;
  border-radius: 3rem 3rem 0px 0px;
}

.Rectangle_13 {

  position: absolute;
  width: 100%;
  bottom: 0rem;
  height: 1rem;


  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* We are happy to visit our site, choosing us indicates that we strive to give you the best products at best prices... */
.Text_End {
  position: absolute;
  width: 4rem;
  top: 3rem;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 0.9rem;
  color: rgba(255, 255, 255, 1);
}

.Rectangle-8 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  background: #2d2d2d;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card {
  position: relative;
  width: 16rem;
  height: 22rem;
  border-radius: 24px;
  overflow: hidden;
  /* لإخفاء أي محتوى يخرج عن حدود البطاقة */
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("../public/5c745b1d188e2142d3117dbd7581bed4.jpg");
  background-position: center;
  background-size: cover;
  /* لتغطية الصورة للمساحة المحددة دون تشويه */
  border-radius: 24px 0 0 0;
}
.img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("../public/182207002_4.jpg");
  background-position: center;
  background-size: cover;
  /* لتغطية الصورة للمساحة المحددة دون تشويه */
  border-radius: 24px 0 0 0;
}
.img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("../public/4a41ad0ad9e31a43008dbacbaea1eb01.jpg");
  background-position: center;
  background-size: cover;
  /* لتغطية الصورة للمساحة المحددة دون تشويه */
  border-radius: 24px 0 0 0;
}

.Rectangle-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(18, 18, 18, 0.7);
  /* خلفية شبه شفافة */
  padding: 0.5rem;
  box-sizing: border-box;
}

.TEXT-BOX {
  position: absolute;
  top: 0rem;
  color: #000000;
  font-size: 2rem;
  background-color: #848484;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.TEXT-BOX-U {
  color: #FFFFFF;
  font-size: 100%;
  border-radius: 20%;
  background-color: #0000006c;
  text-align: center;
  
  bottom: 2rem;
  width: 100%;

}

.button-small {
  position: absolute;
  border: 0.1rem solid #FFFFFF;
  border-radius: 1rem;
  color: #FFFFFF;
  font-size: 90%;
  padding: 0.5rem;
  top: 80%;
  background-color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-small:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #eaeaea;
}

.SomeProducts {
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  height: 5rem;
  margin-top: 5rem;
  /* إضافة هامش علوي بدلاً من top */

  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1rem;

  text-align: center;
  color: #000000;
}



.Rectangle-33 {

  z-index: -1;
  position: absolute;
  width: 3.7rem;
  height: 3.7rem;
  left: -0.4rem;
  top: -1.3rem;


  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle-34 {

  z-index: -1;
  position: absolute;
  width: 3.7rem;
  height: 3.7rem;
  top: -1.3rem;

  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle-35 {

  z-index: 1;
  position: absolute;
  width: 3.7rem;
  height: 3.7rem;
  right: -0.4rem;
  top: -1.3rem;

  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Line-8 {
  /*الخط الذي تحت some*/
  z-index: -1;
  position: absolute;
  width: 7rem;
  left: 0rem;
  bottom: 1rem;
  border-radius: 4rem;
  border: 3px solid rgba(102, 102, 102, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Line-9 {
  /*الذي تحت على اليمين*/
  z-index: -1;
  position: absolute;
  width: 4.7rem;
  right: -4.5rem;
  top: 3.9rem;
  border: 1px solid #eaeaea;
  transform: rotate(41.05deg);
}

.Line-10 {
  /*مضبوط الذي يوصل بين المربعين*/
  z-index: -1;
  position: absolute;
  width: 80%;
  right: 3.3rem;
  top: -1.3rem;
  border: 1px solid #999999;
}

.Line-11 {
  /*الذي تحت */
  z-index: -1;
  position: absolute;
  width: 4.7rem;
  left: -4.4rem;
  top: 4rem;

  border: 1px solid #eaeaea;
  transform: rotate(133.94deg);
}

.Line-12 {
  /*تحت لاعند الخط*/
  z-index: -1;
  position: absolute;
  width: 4.7rem;
  right: 2.4rem;
  top: 4.1rem;
  border: 1px solid #eaeaea;
  transform: rotate(132.84deg);
}

.Rectangle-36 {
  /*الاساسي*/
  z-index: -1;
  position: absolute;
  width: 19rem;
  height: 4rem;
  top: -1.5rem;


  background: rgba(153, 153, 153, 0.2);
}

.Line-13 {
  /*الذي لافوق من اليمين*/
  z-index: -1;
  position: absolute;
  width: 5.2rem;
  left: -4.9rem;
  top: -3.3rem;

  border: 1px solid #eaeaea;
  transform: rotate(43.18deg);
}


.Line-14 {
  /*الذي لافوق من اليسار*/
  z-index: -1;
  position: absolute;
  width: 6rem;
  right: -1.6rem;

  top: -3.9rem;

  border: 1px solid #eaeaea;
  transform: rotate(54.2deg);
}

.Rectangle-32 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-top: 0%;
  padding-bottom: 1.8rem;
  padding-top: 1rem;
  display: flex;
  margin-top: 0rem;
  justify-content: center;
  flex-wrap: wrap;
  background: #999999;
  border: 1px solid #999999;
  box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}


.search-sort {
  display: flex;
  margin-top: 2rem;
  gap: 10px;
  width: auto;
  height: auto;

}

.search {

  padding: 10px 15px;
  border-radius: 20px;
  width: 22rem;
  color: rgb(9, 9, 9);
  background: #ffffff;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}

.search:hover {
  background: #d0cdcd;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

}

.sort {

  margin-top: 0.5rem;
  background: #000000;
  border: 3px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  transition: background-color 0.3s ease;

}

.sort:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}


.Some_box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  /* هامش علوي لإبعاده عن العناصر فوقه */
  margin-top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle-81 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* إضافة فراغ بين البطاقات */
  width: 100%;
  padding: 2rem;
  /* إضافة padding لتجنب الالتصاق بالحواف */
  background: #151212;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Arrow_left {
  position: absolute;
  color: white;
  width: 2rem;
  height: 2rem;
  left: 1rem;
  z-index: 1;
  
  border-radius: 300rem;
  border: 0.1rem white solid;

}

#Arrow_right {
  position: absolute;
  color: white;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  z-index: 1;
  background-color: #000000;
  border-radius: 300rem;
  border: 0.1rem white solid;
}

.card1 {
  position: relative;
  width: 11rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 15rem;
  border-radius: 24px;
  margin: 3%;
  overflow: hidden;
  /* لإخفاء أي محتوى يخرج عن حدود البطاقة */
  background: #7d7d7d6d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../public/522db309d9d260e6b7f2b49d4782bc8f.jpg");
  background-position: center;
  background-size: cover;
  transition: transform 0.3s, box-shadow 0.3s;
 
  
}
.card1:hover,.card2:hover,.card3:hover,.card4:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 6px rgba(152, 152, 152, 0.3);
}
.card2 {
  position: relative;
  width: 11rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 15rem;
  border-radius: 24px;
  margin: 3%;
  overflow: hidden;
  /* لإخفاء أي محتوى يخرج عن حدود البطاقة */
  background: #7d7d7d6d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../public/507b9d0e1ad9d33e9c6659b1d35c25e.jpg");
  background-position: center;
  background-size: cover;
  transition: transform 0.3s, box-shadow 0.3s;


}
.card3 {
  position: relative;
  width: 11rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 15rem;
  border-radius: 24px;
  margin: 3%;
  overflow: hidden;
  /* لإخفاء أي محتوى يخرج عن حدود البطاقة */
  background: #7d7d7d6d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../public/d2fc29eae8b6662aecec98537139d14d.jpg");
  background-position: center;
  background-size: cover;
  transition: transform 0.3s, box-shadow 0.3s;
  
}
.card4 {
  position: relative;
  width: 11rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 15rem;
  border-radius: 24px;
  margin: 3%;
  overflow: hidden;
  /* لإخفاء أي محتوى يخرج عن حدود البطاقة */
  background: #7d7d7d6d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../public/efb7ba0d629af5c6c7aa236beba432fc.jpg");
  
  background-size: cover;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;

}

.img11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;

}

.Rectangle-10_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  top: 50%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.449);
  /* خلفية شبه شفافة */
  padding: 0.5rem;
  box-sizing: border-box;
}

.TEXT-BOX1 {
  position: absolute;
  margin-top: 2rem;
  top: 0rem;
  color: #FFFFFF;
  font-size: 100%;
  background-color: #0c0606;
  border-radius: 0.3rem;

  text-align: center;
}

.TEXT-BOX-U1 {
  color: #FFFFFF;
  font-size: 70%;
  color: #ababab;
  margin-left: 5%;
  width: 100%;
  margin-top: 5%;
}

.button-small1 {

  border: 0.1rem solid #FFFFFF;
  border-radius: 1rem;
  color: #FFFFFF;
  font-size: 60%;

  text-align: center;
  width: 50%;
  align-items: center;
 margin-bottom: 5%;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-small1:hover {
  background-color: rgba(255, 255, 255, 0.166);
  color: #eaeaea;
}

#TextSpical {

  color: #ffffff;
}

.Rectangle-81_1 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  width: 90%;
  background: #242424;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle-15 {

  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 574px;
  z-index: -1;
  margin-top: 0px;
  background: linear-gradient(180deg, #1C1C1C 0.78%, rgba(185, 185, 185, 0) 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle-19 {

  position: relative;
  width: 30rem;
  height: 30rem;
  margin-top: 2rem;
  border-radius: 100%;
  margin-bottom: 0px;
  background: #2D2D2F;

}

.Rectangle-22 {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 0px;
  z-index: 1;
  width: 100%;
  margin-top: 20rem;
  height: 10rem;
  background: rgba(0, 0, 0, 0.45);
}

.img-01 {
  position: absolute;
  width: 100%;
  height: 40rem;
  background-image: url("/public/47e5849fa6a71064a65d67dcfbc40a39.jpg");
  border-radius: 50px 50px 0px 0px;
  background-size: cover;
}

.Rectangle-22 {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 10rem;
  background: rgba(0, 0, 0, 0.45);
}

.text-pre {
  position: relative;
  width: 350px;
  margin-left: 3rem;
  bottom: 2rem;
  font-family: serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

.Rectangle-23 {

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10rem;
  height: 2rem;
  top: 6rem;
  left: 31%;
  border: 1px solid #FFFFFF;
}

.Shop-now1 {

  position: absolute;
  width: auto;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

.img-02 {
  position: absolute;
  margin-left: 80%;
  margin-bottom: 10rem;
  width: 5rem;
  height: 2.7rem;


  border: 1px rgb(71, 71, 71) solid;
  background-image: url("/public/1eae6ac8e61b8506cccdae4c6eada0d8.jpg");
  border-radius: 13px;
  background-attachment: content;
  background-size: cover;
}

.Rectangle-81_1_1 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  width: 90%;


}

.img-03 {
  position: absolute;
  width: 100%;
  height: 40rem;



  background-image: url("/public/9d0b7f3DTEDSM00001361_1.jpg");

  background-size: cover;
}

.Rectangle-19_1 {

  position: relative;
  width: 30rem;
  height: 30rem;
  margin-top: 0px;

  background: #2D2D2F;

}

.img-02_1 {
  position: absolute;
  margin-left: 80%;
  margin-bottom: 10rem;
  width: 5rem;
  height: 2.7rem;


  border: 1px rgb(71, 71, 71) solid;
  background-image: url("/public/0b72cb32acc078fffd68723b3fe20c86.jpg");
  border-radius: 13px;
  background-attachment: content;
  background-size: cover;
}

.img-03 {
  position: absolute;
  width: 100%;
  height: 40rem;



  background-image: url("/public/9d0b7f3DTEDSM00001361_1.jpg");

  background-size: cover;
}

.img-02_1 {
  position: absolute;
  margin-left: 80%;
  margin-bottom: 10rem;
  width: 5rem;
  height: 2.7rem;


  border: 1px rgb(71, 71, 71) solid;
  background-image: url("/public/0b72cb32acc078fffd68723b3fe20c86.jpg");
  border-radius: 13px;
  background-attachment: content;
  background-size: cover;
}

.img-04 {
  position: absolute;
  width: 100%;
  height: 40rem;



  background-image: url("/public/4a41ad0ad9e31a43008dbacbaea1eb01.jpg");

  background-size: cover;
}

.img-02_2 {
  position: absolute;
  margin-left: 80%;
  margin-bottom: 10rem;
  width: 5rem;
  height: 2.7rem;


  border: 1px rgb(71, 71, 71) solid;
  background-image: url("/public/5e88e483f13d1dee1a0bf4b4ed0644a2.jpg");
  border-radius: 13px;
  background-attachment: content;
  background-size: cover;
}

.img-05 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 0 4rem 4rem;


  background-image: url("/public/507b9d0e1ad9d33e9c6659b1d35c25e1.jpg");

  background-size: cover;
}

.Rectangle_up {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1rem;
  border-radius: 0 0 4rem 4rem;
  background-color: #2b2b2b;
}



.Rectangle-19_2 {

  position: relative;
  width: 30rem;
  height: 30rem;
  margin-top: 0px;
  border-radius: 4rem;


}

.Rectangle-19_3 {

  position: relative;
  width: 30rem;
  height: auto;

  margin-top: 10rem;
  border-radius: 4rem;
  align-items: center;
  padding: 1rem;

  background: #2D2D2F;

}

.TextPersol2 {
  position: relative;




  font-style: normal;
  font-weight: 100;

  font-size: 100%;
  height: 20%;
  margin-bottom: 4rem;
  line-height: 34px;
  text-align: center;

  color: rgba(255, 255, 255, 0.64);
}

.Persol {

  position: relative;
  text-align: center;
  margin-top: 1.5rem;

  font-family: serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 76px;
  color: #000000;
}

.Rectangle-20 {

  position: relative;
  width: 70%;
  height: 2rem;

  margin-top: 15rem;
  margin-bottom: 20rem;


  background: #FFFFFF;
  border-radius: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.Rectangle-22_1 {
  margin-top: 20rem;
  border-radius: 0 0 4rem 4rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;

  height: 10rem;

  background: rgba(0, 0, 0, 0.45);
}